footer,
#footer,
.footer {
  background-color: $container-background-color;
  border-radius: 5px;
  margin: auto;
  margin-top: 2em;
  text-align: center;

  >*:first-child {
    padding: 0.5em;
  }

  .well {
    text-align: left;
  }

  .copyright {
    color: $brand-color;
    float: left;
    margin: 15px;
  }

  .footer-links {
    float: left;
    margin: auto;
    text-align: center;
  }

  .navbar {
    background-color: $dark-gray;
    margin-bottom: 0;
  }
}
